@font-face {
  font-family: 'OldLondon';
  src: url('./assets/fonts/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* user-select: none; */
  font-family: 'OldLondon', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  color: #ffd200;
}

p {
  color: white;
}

.App {
  text-align: center;
  background-image: url('./assets/backgrounds/Designer (12).png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradientOverlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 2em;
  pointer-events: none;
  z-index: 2;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #61dafb;
}
